body {
  background-color: white;
  color: red;
}
.item{
  padding:10px;
  margin:10px;
  border:1px solid grey;
  width:28%;
  display:inline-block;
  word-wrap:break-word;
}

.wowText {
  color:chocolate;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
}
.warning{
  color:purple;
}
.listText {
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gray {
  background-color: gray;  
}
.white{
  background-color: white;
}
.hero-text{
  color:pink;
}
.warning2{
  color:greenyellow;
}
.ba2txt{
  color:rgb(2, 60, 60);
}
.typePic{
  height: 75px;
  width: auto;
}
