/**
 * /* @import "~bootstrap/scss/bootstrap";
 *
 * @format
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

.flexCtr {
	display: flex;
	flex-direction: column;
	justify-content: start;
	color: #1aa7ec;
}

.App {
	min-height: 100vh;
	position: relative;
	background-color: #313131;
}

.camera {
	position: relative;
	top: 200px;
}

.result {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 100%;
	width: 100%;
	height: 102%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	transition: 0.4s;
}

.result.hasPhoto {
	left: 0%;
}

video {
	width: 100%;
	max-width: 100;
	position: relative;
}

.cameraBtn {
	position: absolute;
	bottom: -70px;
	right: 20px;

	appearance: none;
	border: none;
	outline: none;

	padding: 8px 16px;
	background-image: linear-gradient(to right, #844fff 50%, #ff4f84 50%);
	background-position: 0%;
	background-size: 200%;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	transition: 0.4s;
	cursor: pointer;
}

.cameraBtn:hover {
	background-position: 100%;
}

.closeBtn {
	position: absolute;
	bottom: -70px;
	left: 20px;

	appearance: none;
	border: none;
	outline: none;

	padding: 8px 16px;
	background-image: linear-gradient(to right, #844fff 50%, #ff4f84 50%);
	background-position: 0%;
	background-size: 200%;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	transition: 0.4s;
	cursor: pointer;
}

.closeBtn:hover {
	background-position: 100%;
}

.bdrRd100 {
	border-radius: 50px;
}

.btnGrey {
	background-color: #d7e0ea !important;
	color: #000 !important;
	border-color: #000 !important;
}
/* canvas {
	width: 100%;
	height: auto;
} */

input,
textarea {
	font: 0.9em/1.5em "handwriting", sans-serif;
	border: none;
	padding: 0 10px;
	margin: 0;
	width: 240px;
	background: none;
}

.widthSpan {
	min-width: 100%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
	background-color: #313131;
	color: #313131;
}

.filmProjector {
	color: #313131;
	font-size: medium;
}

.bkgd {
	background: #313131 !important;
	border-color: #313131 !important;
}

.navBar {
	position: absolute;
	bottom: 5px;
}

.timeStamp {
	display: flex !important;
	justify-content: center !important;
	font-size: xx-small !important;
}
